<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Version</key>
    <integer>3</integer>
    <key>Required Software Version</key>
    <integer>693</integer>
    <key>Extension Name</key>
    <dict>
      <key>en</key>
      <string>Open GitHub repo</string>
      <key>zh-Hans</key>
      <string>打开 GitHub 项目</string>
      <key>zh-Hant</key>
      <string>開啟 GitHub 倉庫</string>
    </dict>
    <key>Extension Identifier</key>
    <string>org.phpz.popclip.extension.open-github-repo</string>
    <key>Extension Description</key>
    <string>Open GitHub Repo in a web browser with the selected text like AUTHOR/REPO.</string>
    <key>Action</key>
    <dict>
      <key>Shell Script File</key>
      <string>main.sh</string>
      <key>Image File</key>
      <string>github.png</string>
      <key>Title</key>
      <dict>
        <key>en</key>
        <string>Open GitHub repo</string>
        <key>zh-Hans</key>
        <string>打开 GitHub 项目</string>
        <key>zh-Hant</key>
        <string>開啟 GitHub 倉庫</string>
      </dict>
      <key>Regular Expression</key>
      <string>^\s*[\w\-\.]+/[\w\-\.]+\s*$</string>
    </dict>
  </dict>
</plist>
